@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: 
    local("Open Sans Regular"), 
    local("OpenSans-Regular"), 
    url("fonts/opensans.woff2") format("woff2"), 
    url("fonts/opensans.woff") format("woff");
  }

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 200;
    src: 
        local("Open Sans Light"), 
        local("OpenSans-Light"), 
        url("fonts/opensanslight.woff2") format("woff2"), 
        url("fonts/opensanslight.woff") format("woff");
  }

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    src: 
        local("Gilroy Extra Bold"), 
        local("GillSans-ExtraBold"), 
        url("fonts/gilroyextrabold.woff2") format("woff2"), 
        url("fonts/gilroyextrabold.woff") format("woff");
  }
  
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 200;
    src:
        local("Gilroy Light"), 
        local("GillSans-Light"), 
        url("fonts/gilroylight.woff2") format("woff2"), 
        url("fonts/gilroylight.woff") format("woff");
  }

* {
    outline: 0px solid rgba(0, 0, 0, 0.05);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    margin: 0;
    padding: 0;
  
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 200;
    color: rgb(70, 70, 70);
    
    background-color: rgb(255, 255, 255);
  }

.services {
    background-color: rgb(229, 229, 229);
}

section.filter {
    background-color: rgb(239, 239, 239);
}

.sort {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list li:first-child:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list li:last-child:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

a {
      text-decoration: none;
  }

.center-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    margin-top: 40px;
    background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation {
    display: flex;
    flex-direction: column;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    
}

.container {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.15px;
    line-height: 30px;
    width: 500px;
}

.user-menu {
    display: flex;
}

.user-menu-item {
    margin-right: 20px;
}

.secondary-menu {
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.main-menu-catalogue {
    width: 540px;
}

.main-menu-delivery {
    width: 160px;
}

.main-menu-guarantee {
    width: 220px;
}

.main-menu-contact {
    width: 120px;
}

.header-logo {
    position: relative;
    top: -23px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.48px;
    line-height: 48px;
  }

.header-logo:hover {
    opacity: 1;
  }

.header-logo-link {
    position: relative;
    top: -23px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.48px;
    line-height: 48px;
  }
  
.header-logo-link:active {
    opacity: 0.3;
  }

.user-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.header-search {
    width: 540px;
}

.header-search input[type="search"] {
    font-weight: 200;
    letter-spacing: 0.15px;
    line-height: 30px;

    opacity: 0.3;
    background-color: transparent;
  }

.header-search input[type="search"]:hover {
    opacity: 0.6;
}

.header-search input[type="search"]:focus {
    opacity: 1;
    border-bottom: 2px solid black;
}

.header-search-item button.search-button {
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 15px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
    line-height: 30px;

    border: 2px solid black;
    background-color: transparent;

}

.header-search-item button.search-button:hover {
    color: rgb(255, 255, 255);

    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    
}

.header-search-item button.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    
}

.main-navigation a {
    color: rgb(0, 0, 0);

    opacity: 1;
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:focus {
    opacity: 0.3;
}

.main-navigation ul,
.slider-list,
.feature-list,
.popular-list,
.slider-control,
.services-slider-toggle,
.services-slider-list,
.logotypes-list,
.delivery-partners-list,
.main-navigation a,
.main-footer li,
.breadcrumbs,
.sort-list,
.sort-order,
.filter-option,
.gadget-item,
.pagination-item,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.main-menu-item > a {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.6px;
    line-height: 24px;
    text-transform: uppercase;
}

.catalogue-more {
    display: inline-block;
    width: 16px;
    height: 16px;

    font-size: 0px;

    opacity: 0.3;
    background-image: url(../img/svg/plus.svg);
}

ul.catalogue {
    display: flex;
    width: 720px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

.catalogue-item {
    width: 200px;
    margin-right: 40px;

    font-family: "Open Sans";
    font-weight: 200;
    font-size: 15px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
    line-height: 36px;
}

.slider-list {
    margin-bottom: 100px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slider-description-wrapper {
    width: 500px;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460px;
}

.feature-title {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.17px;
    line-height: 56px;
}

.feature-description {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.15px;
    line-height: 30px;
}

.feature-item-text {
    display: flex;
    flex-direction: column;
}

.feature-text-title {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.36px;
    line-height: 48px;
}

.feature-text-description {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: rgb(70, 70, 70);
    letter-spacing: 0.13px;
    line-height: 20px;
}

.popular-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.popular-item a {
    display: block;
    width: 160px;
    margin-top: 200px;


    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.18px;
    line-height: 24px;
}

.popular-item:before {
    position: absolute;
    content: " ";
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5);
}

.popular-item:nth-child(1):before {
    background-image: url(../img/svg/popular-1.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popular-item:nth-child(2):before {
    background-image: url(../img/svg/popular-2.svg);
    background-repeat: no-repeat;
    background-position: 50% 95%;
}

.popular-item:nth-child(3):before {
    background-image: url(../img/svg/popular-3.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popular-item:nth-child(4):before {
    background-image: url(../img/svg/popular-4.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popular-item:nth-child(5):before {
    background-image: url(../img/svg/popular-5.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.popular-item:nth-child(6):before {
    background-image: url(../img/svg/popular-6.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.popular-item a:hover {
    opacity: 1;
}

.popular-item a:focus {
    opacity: 0.3;
}

.services-wrapper {
    display: flex;
}

.services-slider-toggle {
    width: 300px;
}

.services-slider-list {
    margin-left: 100px;
}

.services-slider-item h3 {
    margin: 0;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.21px;
    line-height: 48px;
}

.services-slider-item {
    width: 460px;
}

.services-slider-item p {
    letter-spacing: 0.15px;
    line-height: 30px;
}

.logotypes-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
}

.logotype-item {
    filter: grayscale(100%);
    opacity: 0.2;
}

.logotype-item:hover {
    filter: none;
    opacity: 1;
}

.info-contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.info-title,
.contact-title {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.21px;
    line-height: 48px;
}

.info-text,
.contact-text {
    letter-spacing: 0;
    line-height: 30px;
}

.delivery-item {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 0;
    line-height: 40px;
}

.main-footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background: rgb(70, 70, 70);
}

.main-footer,
.main-footer a {
    color: rgb(255, 255, 255);
}

.main-footer a:hover,
.breadcrumbs a:hover {
    opacity: 0.6;
}

.main-footer a:active {
    opacity: 0.3;
}

a.footer-logo:hover {
    opacity: 1;
  }

.social-item,
.breadcrumbs a {
    opacity: 0.3;
}

.social-item:active,
.breadcrumbs a:active {
    opacity: 0.1;
}

.main-footer .footer-logo,
.main-footer .footer-logo-link {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 198, 0);
    letter-spacing: 0.48px;
    line-height: 48px;
}

.footer-menu {
    display: flex;

    color: #FFFFFF;
    letter-spacing: 0.15px;
    line-height: 36px;
}

.footer-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu .user-menu,
.footer-secondary-menu {
    display: flex;
}
.footer-menu .user-menu {
    margin-right: 40px;
}

li.footer-menu-item,
li.footer-secondary-menu-item,
li.user-menu-item {
    margin-right: 30px;
}

li.footer-secondary-menu-item:last-child {
    margin-right: 0px;
}

.footer-contacts-services {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 45px;
}

.footer-address,
.footer-tel {
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 30px;
}


.footer-services-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.social-list {
    display: flex;
    justify-content: space-around;
    width: 160px;
}

.social-item {
    display: block;
    width: 32px;
    height: 32px;
    
    font-size: 0px;

    border-radius: 50%;
}

.social-item-fb {
    background-image: url(../img/svg/fb.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-item-in {
    background-image: url(../img/svg/instagram.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-item-tw {
    background-image: url(../img/svg/twitter.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.footer-services-item {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 24px;
}

.breadcrumbs-item,
.breadcrumbs-item a {
    opacity: 0.3;
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 14px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.14px;
    line-height: 24px;

}

.filter-input {
    opacity: 1;
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 14px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.14px;
    line-height: 40px;
}

.filter-input:hover {
    opacity: 0.6;
}

.filter-option.disabled {
    opacity: 0.25;
}

.catalogue-title {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.17px;
    line-height: 48px;
}

.filter h2,
.sort h2 {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.5px;
    line-height: 24px;
    text-transform: uppercase;
}

.filter-name {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.18px;
    line-height: 24px;
}

.filter input[type="checkbox"]:disabled,
.filter input[type="radio"]:disabled {
    opacity: 0.25;
}

.filter input[type="checkbox"]:hover,
.filter input[type="radio"]:hover {
    opacity: 0.6;
}

.sort-list-item,
.sort-order a {
    font-size: 14px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    opacity: 0.3;
    letter-spacing: 0;
    line-height: 18px;
}

.sort-list-item:hover,
.sort-order a:hover {
    opacity: 0.6;
}

.sort-list-item:active,
.sort-order a:active {
    opacity: 1;
}

.gadgets-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    justify-content: space-between;
}

.gadget-name {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.18px;
    line-height: 24px;
}

.gadget-price {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: rgb(70, 70, 70);
    letter-spacing: 0.16px;
    line-height: 24px;
}

.gadget-buy .compare {
    opacity: 0.5;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.13px;
    line-height: 36px;
}

.gadget-buy .compare:hover {
    opacity: 1;
}

.gadget-buy .compare:active {
    opacity: 0.2;
}

.pagination-item a {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgb(0, 0, 0);
    opacity: 0.3;
    letter-spacing: 3.5px;
    line-height: 24px;
}

.pagination-item a:hover {
    opacity: 0.6;
}

.pagination-item a:active {
    opacity: 1;
}

.pagination-item-active a:hover {
    opacity: 0.6;
}

.pagination-item-active a:active {
    opacity: 0.3;
}

.pagination-item-active a {
    color: rgb(0, 0, 0);
    opacity: 1;
}

.button,
.services-toggle-item a {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.5px;
    line-height: 40px;
    text-transform: uppercase;
}

.button:before,
.services-toggle-item a:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 8px;
    background-color: #F0C52E;
    transition: height 0.5s ease;
}

.button:hover:before,
.services-toggle-item a:hover:before {
    content: " ";
    width: 100%;
    height: 40px;
}

.services-toggle-item a:active {
    color: rgb(247, 225, 130);
    background-color: rgb(0, 0, 0);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.write-us-item label {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0;
    line-height: 24px;
}

.write-us input[type="text"],
.write-us input[type="email"],
.write-us textarea {
    opacity: 0.5;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: rgba(70, 70, 70, 0.4);
    letter-spacing: 0;
    line-height: 18px;
    background-color: rgb(242, 242, 242);
}

.write-us input[type="text"]:hover,
.write-us input[type="email"]:hover,
.write-us textarea:hover {
    opacity: 0.8;
}

.write-us input[type="text"]:focus,
.write-us input[type="email"]:focus,
.write-us textarea:focus {
    color: rgba(70, 70, 70, 1);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(240, 197, 46, 0.5);
    outline: 0;
}

.write-us input[type="text"]:invalid,
.write-us input[type="email"]:invalid,
.write-us textarea:invalid {
    background-color: rgba(237, 181, 181, 0.5);
    outline: 0;
}

.modal-close {
    opacity: 0.5;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}