@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: 
    local("Open Sans Regular"), 
    local("OpenSans-Regular"), 
    url("fonts/opensans.woff2") format("woff2"), 
    url("fonts/opensans.woff") format("woff");
  }

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 200;
    src: 
        local("Open Sans Light"), 
        local("OpenSans-Light"), 
        url("fonts/opensanslight.woff2") format("woff2"), 
        url("fonts/opensanslight.woff") format("woff");
  }

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    src: 
        local("Gilroy Extra Bold"), 
        local("GillSans-ExtraBold"), 
        url("fonts/gilroyextrabold.woff2") format("woff2"), 
        url("fonts/gilroyextrabold.woff") format("woff");
  }
  
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 200;
    src:
        local("Gilroy Light"), 
        local("GillSans-Light"), 
        url("fonts/gilroylight.woff2") format("woff2"), 
        url("fonts/gilroylight.woff") format("woff");
  }

* {
    outline: 0px solid rgba(0, 0, 0, 0.05);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    margin: 0;
    padding: 0;
  
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 200;
    color: rgb(70, 70, 70);
    
    background-color: rgb(255, 255, 255);
  }

.services {
    background-color: rgb(229, 229, 229);
}

section.filter {
    margin-top: -51px;
    width: 32.5%;

    background-color: rgba(0, 0, 0, 0.08);
}

.sort {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list > li:first-child:hover {
    background-color: rgba(0, 0, 0, 0.08);
    line-height: 70px;
}

.pagination-list > li:last-child:hover {
    background-color: rgba(0, 0, 0, 0.08);
    line-height: 70px;
}

a {
      text-decoration: none;
  }

.center-container-1160 {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.center-container-1040 {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;

}

.custom-container-1 {
    width: 760px;
    margin-left: 70px;
    margin-right: auto;
}

.catalogue-header-container {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.08);
}

.catalogue-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-container {
    margin-top: 40px;
    height: 300px;

    background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation {
    display: flex;
    flex-direction: column;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    
}

.header-menu {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.15px;
    line-height: 30px;
    width: 500px;
}

.user-menu {
    display: flex;
}

.user-menu-item {
    margin-right: 20px;
}

.login-link:before {
    content: " ";
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/svg/user.svg);
    background-repeat: no-repeat;
}

.username:before {
    content: " ";
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/svg/user.svg);
    background-repeat: no-repeat;
}

.user-menu-item .logout-link {
    opacity: 0.3;
}

.secondary-menu-compare:before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-image: url(../img/svg/compare.svg);
    background-repeat: no-repeat;
}

.secondary-menu-cart:before {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/svg/cart.svg);
    background-repeat: no-repeat;
}

footer .login-link:before {
    content: " ";
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/svg/user-yellow.svg);
    background-repeat: no-repeat;
}

footer .username:before {
    content: " ";
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/svg/user-yellow.svg);
    background-repeat: no-repeat;
}

footer .menu-compare:before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-image: url(../img/svg/compare-yellow.svg);
    background-repeat: no-repeat;
}

footer .cart:before {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../img/svg/cart-yellow.svg);
    background-repeat: no-repeat;
}

.footer-menu a.logout-link {
    opacity: 1;
    color: #ffffff;
}

.secondary-menu {
    display: flex;
    width: 213px;
    justify-content: space-between;
}

.main-menu-catalogue {
    width: 540px;
}

.main-menu-delivery {
    width: 160px;
}

.main-menu-guarantee {
    width: 220px;
}

.main-menu-contact {
    width: 120px;
}

.header-logo {
    position: relative;
    top: -25px;
    left: -4px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.48px;
    line-height: 48px;

    cursor: default;
  }

.header-logo:hover.non-link {
    opacity: 1;
}


.header-logo-link {
    position: relative;
    top: -23px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.48px;
    line-height: 48px;
  }
  
.header-logo-link:active {
    opacity: 0.3;
  }

.user-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -27px;
    margin-bottom: 15px;
}

.header-search {
    width: 540px;
}

.header-search input[type="search"] {
    font-weight: 200;
    letter-spacing: 0.15px;
    line-height: 30px;
    height: 43px;
    margin-top: -4px;
    padding-left: 10px;
    padding-right: 10px;

    opacity: 0.3;
    background-color: transparent;
    border: 0px;
  }

.header-search input[type="search"]:hover {
    opacity: 0.6;
}

.header-search input[type="search"]:focus {
    opacity: 1;
    border-bottom: 2px solid black;
}

.header-search-item:before {
    display: inline-block;
    content: " ";
    width: 16px;
    height: 16px;

    margin-right: 10px;
    background-image: url(../img/svg/search.svg);
    background-repeat: no-repeat;
}

.header-search-item button.search-button {
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 15px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
    line-height: 30px;

    border: 2px solid black;
    background-color: transparent;
    width: 85px;
    height: 45px;
    margin-left: -6px;

}

.header-search-item button.search-button:hover {
    color: rgb(255, 255, 255);

    background-color: rgb(0, 0, 0);
    border: 2px solid black;

    
    
}

.header-search-item button.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    
}

.main-navigation a {
    color: rgb(0, 0, 0);

    opacity: 1;
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:focus {
    opacity: 0.3;
}

.main-navigation ul,
.slider-list,
.feature-list,
.popular-list,
.slider-control,
.services-slider-toggle,
.services-slider-list,
.logotypes-list,
.delivery-partners-list,
.main-navigation a,
.main-footer li,
.breadcrumbs,
.sort-list,
.sort-order,
.filter-option,
.gadget-item,
.pagination-item,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.main-menu-item > a {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.6px;
    line-height: 24px;
    text-transform: uppercase;
}

.catalogue-more {
    position: relative;
    top: -3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;

    font-size: 0px;

    opacity: 0.3;
    background-image: url(../img/svg/plus.svg);
}

.main-menu-catalogue a:hover ~ ul.catalogue,
.catalogue-more:hover ~ ul.catalogue {
    display: flex;
}

.catalogue-background {
    width: 1160px;
    position: absolute;
    content: " ";
    left: -60px;
    height: 130px;
    z-index: -1;

    background-color: #F7E296;
}

ul.catalogue {
    display: none;
    position: relative;
    width: 720px;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: 30px;
    padding-top: 25px;
    z-index: 1;
}

ul.catalogue:hover {
    display: flex;
}

.catalogue-item {
    width: 200px;
    margin-right: 40px;

    font-family: "Open Sans";
    font-weight: 200;
    font-size: 15px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
    line-height: 36px;
}

.slider-section {
    position: relative;
    margin-top: -38px;
}

.slider-list {
    margin-bottom: 100px;
    margin-top: -80px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.slider-control {
    position: absolute;
    right: 79px;
    top: 283px;
}

.slider-control button {
    width: 12px;
    height: 12px;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/slider-button-empty.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    margin-left: 13px;

}

.slider-control button.active {
    background-image: url(../img/svg/slider-button.svg);

}

.slider-description-wrapper {
    width: 500px;
}

.slider-first .slider-image-wrapper {
    margin-left: 30px;
    margin-top: -30px;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 467px;
    margin-top: 48px;
}

.feature-item {
    margin-right: 40px;
}

.feature-title {
    margin-bottom: 19px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.17px;
    line-height: 56px;
}

.feature-description {
    margin-bottom: 30px;

    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.15px;
    line-height: 2;
}

.slider-description-wrapper .button {
    margin-left: 1px;
    margin-top: 13px;
    text-align: center;
    width: 180px;
}

.feature-item-text {
    display: flex;
    flex-direction: column;
}

.feature-text-title {
    margin-bottom: 10px;

    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.36px;
    line-height: 48px;
}

.feature-text-description {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: rgb(70, 70, 70);
    letter-spacing: 0.13px;
    line-height: 20px;
}

.popular-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

li.popular-item {
    position: relative;
}

.popular-item a {
    display: block;
    width: 160px;
    padding-top: 200px;


    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.18px;
    line-height: 24px;

    opacity: 1;
}

.popular-item span:before {
    position: absolute;
    content: " ";
    top: 20px;
    width: 160px;
    height: 160px;

    background-color: rgba(240, 197, 46, 0.5);
}

.popular-item span:hover:before {
    background-color: rgba(240, 197, 46, 1);
}

.popular-item span:after {
    position: absolute;
    content: " ";
    top: 20px;
    left: 0;
    width: 160px;
    height: 160px;
}

.popular-item span:active:after{
    opacity: 0.3;
}

.popular-item span:active {
    color: rgba(0, 0, 0, 0.3);
}

.popular-item span.popular-1:after  {
    background-image: url(../img/svg/popular-1.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.popular-item span.popular-2:after {
    background-image: url(../img/svg/popular-2.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.popular-item span.popular-3:after {
    background-image: url(../img/svg/popular-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.popular-item span.popular-4:after {
    background-image: url(../img/svg/popular-4.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.popular-item span.popular-5:after {
    background-image: url(../img/svg/popular-5.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.popular-item span.popular-6:after {
    background-image: url(../img/svg/popular-6.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


.popular-item a:hover {
    opacity: 1;
}

.services-wrapper {
    display: flex;
}

.services-slider-toggle {
    width: 300px;
}

.services-slider-list {
    margin-left: 100px;
}

.services-slider-item h3 {
    margin: 0;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.21px;
    line-height: 48px;
}

.services-slider-item {
    width: 460px;
}

.services-slider-item p {
    letter-spacing: 0.15px;
    line-height: 30px;
}

.logotypes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.logotype-item {
    filter: grayscale(100%);
    opacity: 0.2;
}

.logotype-item:hover {
    filter: none;
    opacity: 1;
}

.info-contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.info {
    width: 500px;
}

.contact {
    width: 560px;
}

.info-title,
.contact-title {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.21px;
    line-height: 48px;
}

.info-text,
.contact-text {
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 30px;
}

.contact-map {
    padding-top: 10px;
    margin-bottom: 52px;
}

.delivery-partners-list {
    padding-top: 30px;
    padding-bottom: 50px;
}

.delivery-item {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 0;
    line-height: 40px;
}

.main-footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background: rgb(70, 70, 70);
}

.main-footer,
.main-footer a {
    color: rgb(255, 255, 255);
}

.main-footer a[href]:hover,
.breadcrumbs a:hover {
    opacity: 0.6;
}

.main-footer a[href]:active {
    opacity: 0.3;
}

.social-item,
.breadcrumbs a {
    opacity: 0.3;
}

.social-item:active,
.breadcrumbs a:active {
    opacity: 0.1;
}

.main-footer .footer-logo,
.main-footer .footer-logo-link {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 198, 0);
    letter-spacing: 0.48px;
    line-height: 48px;
}

.footer-logo.non-link {
    cursor: default;
}

.footer-menu {
    display: flex;

    color: #FFFFFF;
    letter-spacing: 0.15px;
    line-height: 36px;
}

.footer-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu .user-menu,
.footer-secondary-menu {
    display: flex;
}
.footer-menu .user-menu {
    margin-right: 40px;
}

li.footer-menu-item,
li.footer-secondary-menu-item,
li.user-menu-item {
    margin-right: 40px;
}

li.footer-secondary-menu-item:last-child {
    margin-right: 0px;
}

.footer-contacts-services {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 45px;
}

.footer-address,
.footer-tel {
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 30px;
}


.footer-services-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.social-list {
    display: flex;
    justify-content: space-around;
    width: 160px;
}

.social-item {
    display: block;
    width: 32px;
    height: 32px;
    
    font-size: 0px;

    border-radius: 50%;
}

.social-item-fb {
    background-image: url(../img/svg/fb.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-item-in {
    background-image: url(../img/svg/instagram.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-item-tw {
    background-image: url(../img/svg/twitter.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.footer-services-item {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 24px;
}

.breadcrumbs-item,
.breadcrumbs-item a {
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 14px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.14px;
    line-height: 24px;

}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.breadcrumbs-item:after {
    display: inline-block;
    content: "";
    width: 5px;
    height: 8px;
    margin-left: 20px;
    margin-right: 20px;

    background-image: url(../img/svg/nav-arrow.svg);
    background-repeat: no-repeat;

}

.breadcrumbs-item:last-child:after {
    display: inline-block;
    content: "";
    background-image: none;
}

a.breadcrumbs-current {
    opacity: 1;
}

a.breadcrumbs-current:hover {
    opacity: 1;
}

.filter-input {
    opacity: 1;
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 14px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.14px;
    line-height: 40px;
}

.filter-input:hover {
    opacity: 0.6;
}

.filter-option.disabled {
    opacity: 0.25;
}

.catalogue-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.catalogue-title {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.17px;
    line-height: 48px;
}

.filter-wrapper {
    background-color: rgb(239, 239, 239);
}

form.filter {
    margin-right: 58px;
    margin-left: auto;
    padding-top: 65px;
    width: 210px;

}

main h2 {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.5px;
    line-height: 24px;
    text-transform: uppercase;
}

.filter-title {
    margin-left: 60px;
}

.sort-title {
    margin-left: 210px;
}

.filter-name {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.18px;
    line-height: 24px;
}

.filter input[type="checkbox"]:disabled,
.filter input[type="radio"]:disabled {
    opacity: 0.25;
}

.filter input[type="checkbox"]:hover,
.filter input[type="radio"]:hover {
    opacity: 0.6;
}

.sort {
    display: flex;
    align-items: center;
}

.sort-list {
    display: flex;
    margin-right: 200px;
}

.sort-order {
    display: flex;
}

.sort-list-item,
.sort-order a {
    margin-right: 25px;

    font-size: 14px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    opacity: 0.3;
    letter-spacing: 0;
    line-height: 18px;
}

.sort-list-item.active,
.sort-order .active {
    opacity: 1;
}

a.sort-order-desc{
    margin-right: 0px;
}

.sort-list-item:hover,
.sort-order a:hover {
    opacity: 0.6;
}

.sort-list-item:active,
.sort-order a:active {
    opacity: 1;
}

.gadgets-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 760px;
    justify-content: space-between;
}

.gadget-item {
    margin-top: 60px;
}

.gadget-item-picture {
    position: relative;
}

.gadget-image {
    position: relative;
    z-index: 1;
}

.gadget-buy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0%;
    width: 360px;
    height: 360px;
    left: 0%;

    background: #EEEEEE;
    z-index: 2;
    opacity: 0;
}

.gadget-buy:hover {
    opacity: 1;
    background-color: rgba(238, 238, 238, 0.7);
}

.gadget-sign-wrapper {
    display: flex;
    justify-content: space-between;
}

.gadget-name {
    width: 250px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.18px;
    line-height: 24px;
}

.gadget-price {
    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: rgb(70, 70, 70);
    letter-spacing: 0.16px;
    line-height: 24px;
}

.gadget-buy .compare {
    opacity: 0.5;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.13px;
    line-height: 36px;
}

.gadget-buy .compare:hover {
    opacity: 1;
}

.gadget-buy .compare:active {
    opacity: 0.2;
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 760px;
    align-items: center;
    margin-bottom: 75px;
    margin-top: 30px;
}

.pagination-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination-item a {
    padding: 30px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: rgb(0, 0, 0);
    opacity: 0.3;
    letter-spacing: 3.5px;
    line-height: 24px;
    text-transform: uppercase;
}

.pagination-item a:hover {
    opacity: 0.6;
}

.pagination-item a:active {
    opacity: 1;
}

.pagination-item-active a:hover {
    opacity: 0.6;
}

.pagination-item-active a:active {
    opacity: 0.3;
}

.pagination-item-active a {
    color: rgb(0, 0, 0);
    opacity: 1;
}

.services-slider-toggle {
    border-right: 7px solid black;
    height: 319px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button,
.services-toggle-item a {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.5px;
    line-height: 40px;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    z-index: 0;
}

.button:before,
.services-toggle-item a:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 8px;
    background-color: #F0C52E;
    transition: height 0.5s ease;
}

.button:hover:before,
.services-toggle-item a:hover:before {
    content: " ";
    width: 100%;
    height: 40px;
}

.input-button {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.5px;
    line-height: 40px;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
}

.input-button:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    content: " ";
    width: 100%;
    height: 8px;
    background-color: #F0C52E;
    transition: height 0.5s ease;
}

.input-button:hover:before {
    content: " ";
    width: 100%;
    height: 40px;
}

.button-text {
    position: relative;
    z-index: 2;
}

.services-toggle-item a:active {
    color: rgb(247, 225, 130);
    background-color: rgb(0, 0, 0);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.modal {
    position: fixed;
    z-index: 999;
}

.modal-feedback {
    position: relative;
    width: 960px;
    height: 553px;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(4,6,6,0.20);
}

.write-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
}

.write-us-item {
    display: flex;
    flex-direction: column;
}

.write-us-item label {
    margin-bottom: 5px;

    font-family: Gilroy, Verdana, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: rgb(0, 0, 0);
    letter-spacing: 0;
    line-height: 24px;
}

.write-us input[type="text"],
.write-us input[type="email"],
.write-us textarea {
    box-sizing: border-box;
    padding: 15px 20px;

    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: rgba(70, 70, 70, 0.4);
    letter-spacing: 0;
    line-height: 18px;
    background-color: rgb(242, 242, 242);

    opacity: 0.5;
    border: 0px;
}

.write-us input[type="text"],
.write-us input[type="email"] {
    width: 360px;
    height: 50px;
}

.write-us textarea {
    width: 760px;
    height: 156px;
}


.write-us input[type="text"]:hover,
.write-us input[type="email"]:hover,
.write-us textarea:hover {
    opacity: 0.8;
}

.write-us input[type="text"]:focus,
.write-us input[type="email"]:focus,
.write-us textarea:focus {
    color: rgba(70, 70, 70, 1);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(240, 197, 46, 0.5);
    outline: 0;
}

.write-us input[type="text"]:invalid,
.write-us input[type="email"]:invalid,
.write-us textarea:invalid {
    background-color: rgba(237, 181, 181, 0.5);
    outline: 0;
}


.modal-map {
    position: relative;
    width: 960px;
    height: 559px;
    margin-left: auto;
    margin-right: auto;

    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(4,6,6,0.20);
}

.modal-close {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 20px;
    right: 20px;

    font-size: 0;

    background-image: url(../img/svg/modal-close.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.modal-close {
    opacity: 0.5;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.hidden {
	display: none;
}


